# mysql = mysql service name in docker-compose.yml
DATASOURCE_URL=jdbc:mysql://mysql:3306/commercifydb?createDatabaseIfNotExist=true
DATASOURCE_USERNAME=commercifyapp
DATASOURCE_PASSWORD=password123!
JWT_SECRET_KEY=
ADMIN_EMAIL=admin@commercify.app
ADMIN_PASSWORD=admin
MOBILEPAY_CLIENT_ID=
MOBILEPAY_CLIENT_SECRET=
MOBILEPAY_SUBSCRIPTION_KEY=
MOBILEPAY_MERCHANT_ID=
MOBILEPAY_API_URL=
MOBILEPAY_SYSTEM_NAME=Commercify
MOBILEPAY_WEBHOOK_CALLBACK=https://<insert_host>/api/v2/payments/webhooks/mobilepay/callback
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
FRONTEND_HOST=http://localhost:3000